@model IEnumerable<LivrariaMendes.Models.Autor>

@{
    ViewData["Title"] = "Autores";
}

<h2>Autores</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Novo autor</a>
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SobreNome)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SobreNome)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.IdAutor" class="btn btn-default">Editar</a>
            <a asp-action="Details" asp-route-id="@item.IdAutor" class="btn btn-primary">Detalhes</a>
            <a asp-action="Delete" asp-route-id="@item.IdAutor" class="btn btn-danger">Excluir</a>
        </td>
    </tr>
}
</table>
